body{
    background-color: black;
    color:white;
}

.fila{
    display: flex;
    justify-content: center;
}

.casilla{
    width: 25px;
    height: 25px;
    background-color: rgb(50, 105, 52);
    border: 1px solid black;

    display: grid;
    justify-content: center;
    align-items: center;
}

p{
    margin: 0;
}

#info-cantidad-turnos{
    text-align: center;
}